:root {
  --primary: #fff;
}
.btn {
  padding: 8px 20px;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}
.btn-outline {
  background-color: transparent;
  color: #fff;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}
.btn-login {
  margin-top: 12px;
  padding: 14px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  border: 2px solid #ccc;
}
.btn-login span {
  flex: 1;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.btn-login:hover {
  border-color: black;
}
.btn-medium {
  padding: 8px 20px;
  font-size: 20px;
}
.btn-large {
  padding: 14px 26px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.btn-medium:hover,
.btn-larger:hover {
  background-color: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
}
.btn-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}
