
.modal {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed !important;
  top: 0;
  height: 100%;
  width: 100%;
  color: black;
  animation: modalShow 0.1s linear;
}
.Login-container {
  position: fixed;
  top: 5%;
  left: 30%;
  width: 40%;
  height: 90vh;
  background-color: white;
  border-radius: 10px;
  overflow-y: scroll;
  z-index: 1000;
}
.hide{
    display: none
}
.Login-content__header {
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid #ccc;
  font-size: 18px;
}
.Login-content__body {
  padding: 30px 18px;
}
.Login__header {
  margin-bottom: 20px;
  font-size: 18px;
}
.invalid {
  border: 2px solid red !important;
}
.invalid .form-message {
  color: red !important;
}
select {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white !important;
}
.regist-nation {
  position: relative;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}
.regist-nation-wrap {
  display: flex;
  flex-direction: column;
}
.regist-nation-wrap label {
  position: absolute;
}
.regist-icon {
  position: absolute;
  top: 35%;
  right: 10px;
  font-size: 25px;
}
.regist-nation label {
  font-size: 12px;
  color: rgb(168, 161, 161);
  padding: 8px 40px;
}
.regist-nation select {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 27px 40px 15px 40px;
}
.regist-phoneNumber-form {
  position: relative;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}
.regist-numberPhone {
  padding: 8px 20px;
  margin-left: 20px;
  border: none;
  outline: none;
}
.regist-phoneNumber-text {
  padding: 8px 40px;
}
.regist-policy {
  margin-top: 35px;
  font-size: 13px ;
}
.policy-link {
  color: black;
  font-weight: bold;
}
.regist-btn {
  margin-top: 15px;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #ff385c;
  outline: none;
  border: none;
  border-radius: 10px;
}
.form-message {
  display: block;
  margin-top: 14px;
  font-size: 16px;
}
.Daiphancach {
  margin-top: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-size: 14px;
}
.Daiphancach::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 45%;
  height: 1px;
  background-color: #ccc;
}
.Daiphancach::before {
  content: '';
  position: absolute;
  top: 8px;
  right: 0;
  width: 45%;
  height: 1px;
  background-color: #ccc;
}
.login-btn {
  margin-top: 12px;
  padding: 14px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  border: 2px solid #ccc;
}
.login-btn:hover {
  border-color: black;
}
.login-btn span {
  flex: 1;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.icon-fb {
  font-size: 25px;
  color: rgb(79, 79, 238);
  margin-left: 10px;
}
.icon-gg {
  font-size: 25px;
  color: black;
  margin-left: 10px;
}
.icon-apple {
  font-size: 25px;
  color: black;
  margin-left: 10px;
}
.icon-email {
  font-size: 25px;
  color: red;
  margin-left: 10px;
}
.Need-help {
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 30px;
  font-size: 16px;
}
